* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/*Variables*/
.btn-bd-primary {
  background-color: #be53f3;
  color: #f1f1f1;
  border-color: #be53f3;
  padding: 5px 10px 5px 10px;
  border-radius: 12px;
}
.btn-bd-primary:hover {
  color: #be53f3;
  background-color: white;
  border-color: #be53f3;
}

.btn-bd-search {
  background-color: #f1f1f1;
  color: #be53f3;
  border-color: #f1f1f1;
  padding: 5px 10px 5px 10px;
  border-radius: 12px;
}
.btn-bd-search:hover {
  color: #f1f1f1;
  background-color: #be53f3;
  border-color: #f1f1f1;
}

/*---------------Parte general------------*/
main {
  background-color: #be53f3;
}
main .main__white {
  background-color: #f1f1f1;
}

/*---------------Header------------------------------*/
.logo-mobile {
  /*border: 3px solid red;*/
  margin-right: 20px;
  display: inline-block;
  border-radius: 50%;
  width: 30%;
}

.h1__tit {
  line-height: 1.2;
  font-family: "Merienda", cursive;
  color: aliceblue;
  font-size: 30px;
}

.p__titulo {
  font-style: italic;
  font-stretch: condensed;
  font-size: 25px;
  font-family: Alegreya Sans;
  color: aliceblue;
}

.info__buscador img {
  min-width: 70px;
  width: 80px;
}

/*----------------------------------------navbar-------*/
.navbar__menu {
  background-color: #be53f3;
}
.navbar__menu .nav-link {
  padding-right: 1px;
}
.navbar__menu .text-sm {
  color: white;
  margin-bottom: 0;
  padding-bottom: 0;
}
.navbar__menu .nav-icon {
  width: 35px;
  margin: auto;
  filter: brightness(0) invert(1);
}

.navbar-brand img {
  height: 100px;
  width: 100px;
  border: solid 2px black;
  float: left;
  margin-top: 7px;
  margin-left: 20px;
  margin-right: 70px;
}

.nav-icon {
  display: flex;
  flex-direction: column;
  width: 30px;
  margin-left: 1px;
  padding-right: 5px;
  filter: brightness(0) invert(1);
}

ul {
  font-size: 20px;
  flex: 1 1 0px;
  font-family: "Alegreya Sans", sans-serif;
  text-decoration: none;
  filter: brightness(0) invert(1);
  width: 60%;
  padding-top: 20px;
  margin-left: 0;
}

li a {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 20px;
  color: whitesmoke;
  text-decoration: none;
}

.header__img {
  background-color: #be53f3;
  background-size: cover;
}

@media screen and (min-width: 999px) {
  .header__mobile {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  main {
    background-color: #f1f1f1;
  }
  .header__tablet-pc {
    display: none;
  }
  .navbar-brand {
    display: none;
  }
  .buscador {
    display: none;
  }
  .text-block {
    display: none;
  }
  .header__img-intro {
    display: none;
  }
  .navbar__menu {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 3;
  }
  .nav-icon {
    width: 20px;
  }
  ul {
    width: 100%;
    font-size: 3vw;
    padding: 0;
  }
}
/*-------------------------heaedr tablet-pc*/
.logo_pc {
  margin-right: 5px;
  border-radius: 50%;
  width: 50%;
}

.text-block {
  position: absolute;
  top: 350px;
  width: 650px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  padding-left: 20px;
  margin-left: 2px;
}

.text-block h1 {
  margin-left: 30px;
  margin-top: 20px;
  font-family: "Merienda", cursive;
  color: aliceblue;
  font-size: 90px;
}

.text-block p {
  top: 2px;
  margin-left: 30px;
  width: 447px;
  font-family: Alegreya Sans;
  font-size: 50px;
  color: aliceblue;
  font-style: italic;
}

/*--------------------fin de header--------------*/
/*----------Secciones----------------------*/
.seccion {
  margin-top: 150px;
  background-color: #f1f1f1;
}
.seccion .seccion__img {
  width: 100%;
  height: 300px;
  border-radius: 2px;
  object-fit: content;
  -webkit-mask-image: linear-gradient(to right, black, transparent);
  mask-image: linear-gradient(black, transparent);
}

iframe {
  height: 350px;
}

.p__seccion {
  /* white */
  border-radius: 2px; /* border-xl */
  border-width: 1px;
  border-color: #e0e2e0; /* neutral-300 */
  padding: 20px 64px;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 17px;
  line-height: 48px;
  font-weight: 700px;
  color: #363937;
}

.seccion__indicaciones {
  margin-top: 150px;
  background-color: #f1f1f1;
  margin-bottom: 170px;
}

@media screen and (max-width: 1000px) {
  .input-text-seccion, .foot__input-text-seccion {
    width: 70%;
    height: auto;
  }
}
.ii {
  color: #be53f3;
  width: 50px;
}

.img__quote {
  width: 250px;
  height: 200px;
}

/*------------fin de secicones---------------*/
/*-----------------carosuel card tablet - mobile*--------------------*/
@media screen and (max-width: 500px) {
  .carousel__slide-tablet {
    display: none;
  }
}
@media screen and (min-width: 550px) {
  .carousel__slide-mobile {
    display: none;
  }
}
/*-----------------------card--------------*/
.card {
  max-width: 250px;
}
.card .img__card {
  width: 50%;
}

.card__quote {
  max-width: 700px;
  height: 100%;
}

.card__tips {
  max-width: 500px;
  background-color: #4faef3;
}

.img-tips:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

/*----------Footer---------------------------*/
.footer {
  background-color: aliceblue;
}

.foot__h6 {
  margin-top: 40px;
}

.img__foot {
  width: 100px;
}

.img__foot-wapp {
  width: 70px;
}

.foot__fb img {
  width: 40px;
  /*border: 3px solid red;*/
}

.foot__input-text-seccion {
  height: auto;
}

.foot__copyright {
  background: #4faef3;
  margin-top: 100px;
}

@media screen and (max-width: 1000px) {
  .footer {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
